body {
    background-color: #383838;
    margin-left: 20%;
}

.container {
    display: inline-block;
}

h1 {
    text-align: justify;
    font-family: monospace;
    color: #ffffff;
    font-size: 90px;
    font-weight: 100;
    overflow: hidden;
    border-right: .17em solid #ffffff;  
    white-space: nowrap;  
    letter-spacing: 0.1em;
    animation:  
    typing 5s steps(20, end),
    blink-caret .5s steps(20, end) infinite;
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

.plus {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    border-radius: 100%;
    width: 50px;
    margin-top: 0px;
}

.plus:hover {
    background-color: #a9a9a9;
    transition: background-color 1s ease;
}

main {
    display: flex;
    flex-direction: column;
}

.inputs-container {
    display: flex;
    flex-direction: column;
}

.line {
    display: inline-block;
    width: 45%;
    height: 25px;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: #ffffff 1px solid;
    font-family: monospace;
    font-size: 25px;
    font-weight: 100;
    color: #a9a9a9;
    padding-bottom: 10px;
}

.line_checked {
    text-decoration: line-through;
}

::-webkit-input-placeholder {
    color:#ffffff;
    opacity: 0.6;
    font-size: 20px;
    font-family: monospace;
    font-weight: 100;
}

:focus::-webkit-input-placeholder {
    color: transparent;
  }

.empty-box  {
    color: #ffffff;
    cursor: pointer;
    display: none;
}


path {
    pointer-events: none;
}

@media only screen and (max-width: 768px) {
    body {
        margin-left: 10%;
    }
    h1 {
        font-size: 80px;
        margin-top: 50px;
    }
    .line {
        width: 80%;
        margin-bottom: 50px;
        font-size: 40px;
        padding-bottom: 20px;
    }
    .inputs-container {
        margin-top: 50px;
    }
    .empty-box {
        width: 40px;
        height: 40px;
    }
    ::-webkit-input-placeholder {
        font-size: 30px;
    }
    .plus {
        width: 80px;
        font-size: 80px;
    }
}

@media only screen and (max-width: 375px) {
    body {
        margin-left: 5%;
    }
    h1 {
        font-size: 50px;
    }
    .line {
        width: 80%;
        font-size: 30px;
        margin-bottom: 70px;
    }
    .empty-box {
        width: 35px;
        height: 35px;
    }
    ::-webkit-input-placeholder {
        font-size: 25px;
    }
}